fastapi
uvicorn
python-multipart
pymupdf
pdfplumber
docx2txt
spacy==3.5.3
scikit-learn==1.2.2
openai
faiss-cpu
chromadb
langchain
pydantic
sqlalchemy==2.0.21
psycopg2-binary
streamlit==1.25.0
PyPDF2==3.0.1
requests
nltk
pdfminer.six
sentence-transformers
matplotlib==3.7.2
wordcloud
python-docx==0.8.11
reportlab==3.6.12
pandas==2.0.3
numpy==1.24.3
torch
transformers
huggingface-hub
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
